################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/lmbtech-lp/CopilotIndices/17.13.431.34963/CodeChunks.db
/.vs/lmbtech-lp/CopilotIndices/17.13.431.34963
/.vs/lmbtech-lp/FileContentIndex
/.vs/lmbtech-lp/FileContentIndex/11704b76-0ab7-4425-955d-f2948c2b26ae.vsidx
/.vs/lmbtech-lp/v17
/.vs
